<!DOCTYPE html>
<html>
  <%- partial('_partial/head') %>
  <body class="<%- is_home() ? 'is-home' : '' %>">
    <%- partial('_widget/swiper') %>
    <div class="body-page-view"><%- body %></div>
    <%- partial('_partial/footer') %>
    <%- partial('_widget/to-top') %>
    <%- js(['js/animation.js', 'js/highlight.js', 'js/image-viewer.js']) %>
  </body>
</html>
