<%- partial('_partial/header') %>
<div class="post-page">
  <main class="post-container">
    <article class="post-article">
      <header class="post-header">
        <h1 class="post-title"><%= page.title %></h1>
        <div class="post-meta">
          <div class="meta-item">
            <p class="post-time"><%=date(page.date, 'YYYY-MM-DD HH:mm') %></p>
          </div>
          <% if (page.categories && page.categories.length) { %>
          <!-- <p class="meta-item">
            <%- list_categories(page.categories, { show_count: false, class:
            'post-category', style: 'none' }) %>
          </p> -->
          <% } %> <% if (page.tags && page.tags.length) { %>
          <p class="meta-item">
            <%- list_tags(page.tags, { show_count: false, class: 'post-tag',
            style: 'none' }) %>
          </p>
          <% } %>
        </div>
      </header>

      <div class="post-content"><%- page.content %></div>

      <footer class="post-footer">
        <div class="post-nav">
          <% if (page.prev) { %>
          <div class="post-nav-prev">
            <i class="fa fa-chevron-left"></i>
            <a href="<%- url_for(page.prev.path) %>" rel="prev">
              <%= page.prev.title %>
            </a>
          </div>
          <% } else { %>
          <div class="post-nav-prev"></div>
          <% } %> <% if (page.next) { %>
          <div class="post-nav-next">
            <a href="<%- url_for(page.next.path) %>" rel="next">
              <%= page.next.title %>
            </a>
            <i class="fa fa-chevron-right"></i>
          </div>
          <% } %>
        </div>
      </footer>
    </article>
  </main>

  <%- partial('_partial/pagination', { page: page }) %>
</div>
